*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}
body{
    font-family: sans-serif;
}
.pagemargin1{
    padding-top:15px;
    width:100%;
    border-width:thick;
    border-bottom:solid 5px;
    height:100px;
    background-color:black;
    color:#fff;
}
.pagemargin2{
    border-top: thick;
    border-style:solid;
    color:#fff;
    position:relative;
    margin-top:100%;
    padding:15px;
    background-color:black;
}

h1{
    margin:0;
    padding:0 0 20px;
    text-align: center;
    font-size: 25px;
}
.search {
    margin-top:-3.3%;
    margin-left:15%;
    width: 75%;
    position: relative;
    display: flex;
}
.searchTerm {
    width: 100%;
    height:50px;
    border: 2px solid #080808;
    border-right: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #737374;
}
.searchTerm:focus{
    color: #000000;
}
.searchButton {
    padding-left:5px;
    padding-right:5px;
    height: 50px;
    border: 1px solid #737374;
    border-width: thick;
    background-color: rgb(99, 20, 57);
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius:0 5x 5x 0;
    cursor: pointer;
    font-size: 15px;
}
.searchButton i{
    color: #caced4;
}
.option1{
    padding-left:10px;
    padding-right:10px;
    margin-right:-120px;
    margin-left:100px;
    margin-bottom: -10cm;
    border-width: thick;
    border-radius: 30px;
    width: 10cm;
    height:50px;
    text-align:center;
    background-color: rgba(99, 21, 38, 0.993);
    color:rgb(255, 255, 255);
}
.option2{
    margin-right:-60px;
    margin-left:210px;
    height:50px;
    width:280px;
    border-radius:30px;
    background-color:rgba(99, 21, 38, 0.993);
    color:white;
    border-width: thick;
    text-align:center;
}
.option4{
    margin-right:70px;
    margin-top:-2px;
    margin-left:50px;
    padding:20px;
    background-color:rgba(99, 21, 38, 0.993);
    text-align:center;
    border-radius:50%;
    border-width:thick;
    color:rgb(255, 255, 255);
    width:150px;
}
.option3{
    visibility: hidden;
    margin-top:30px;
    border-width: thick;
    position:fixed;
    text-align:left;
    margin-left:30px;
    width:220px;
    background-color:rgba(99, 21, 38, 0.993);
    height:52%;
    transition: all .5s ease-in-out;
}
.ok{
    width: 20%;
    margin-left: 100px;
}
.option3 ul a{
    margin-top:5px;
    margin-left:20px;
    display:block;
    height:60%;
    width:150px;
    line-height:27px;
    font-size:15px;
    color:white;
    padding-left:-20px;
    box-sizing:border-box;
    border-top:1px solid rgba(255,255,255,.1);
    border-bottom:1px solid black;
    transition:all .05s ease-in-out;
}
.option3 ul a i{
    margin-right:15px;
}
ul li:hover a{
    padding-left:20px;
}
#check{
    display:none;
}
label #btn{
    position:relative;
    cursor:pointer;
    border-radius:3px;
}
label #btn{
    margin-left:35px;
    width:50px;
    left:70px;
    height:50px;
    font-size:50px;
    color:white;
    padding:5px 10px;
    border-width:3px;
}
#check:checked ~ .option3{
    left:0px;
    opacity:0;
    pointer-events:auto;
}

.middle{
    border:4px ;
    position:absolute;
    top:43.3%;
    left:50%;
    transform:translate(-50%,-50%);
}
.navigation{
    position:absolute;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
    display:flex;
}
.bar{
    width:50px;
    height:15px;
    border:3px solid #fff;
    margin:7px;
    cursor:pointer;
    transition:.01s;
}
.bar:hover{
    background:#fff;
}
input[name="r"]{
    position:absolute;
    visibility:hidden;
}
.menu-bar{
    
    position:relative;
	background-color: brown;
    font-size:20px;
	text-align: center;
    border-top:solid 5px ;
    border-bottom:solid 5px;
    border-color:white;
    width:100%;
}
.menu-bar ul{
	display: inline-flex;
	list-style-type: none;
    border:thick;
}
.menu-bar ul li
{
	width: 250px;
	padding:12px;
	margin: 10px;
	font-size: 18px;
	font-family:sans-serif;
}
.menu-bar ul li a{
	text-decoration: none;
	color: white;
}
.menu-bar ul li:hover{
	background-color: brown;
	border-radius: 3px;
}
.sub-menu{
display: none;
}
.menu-bar ul li:hover .sub-menu{
    display:block;
    line-height:5px;
	background-color: black;
	position: absolute;
	margin-top:10px;
    margin-left:-10px;
}
.menu-bar ul li:hover .sub-menu ul{ 
	text-align: center;
	display:block;
    padding-top:10px;
}
.menu-bar ul li:hover .sub-menu ul a:hover{
	color: #ECEFF1 ;
    padding-top:0px;
}
.contact{
	color: white;
	font-weight: 100;
	position: relative;
	box-sizing: border-box;
	width: 20%;
	font-family: sans-serif;
	margin :1cm;
	margin-left:2cm;
}
.infor{
	color: white;
	font-weight: 100;
		position: relative;
		box-sizing: border-box;
	   width: 20%;
	   box-sizing:border-box;
        font-family: sans-serif;
	     margin :1cm;

}
.acc-cust{
	color: white;
	font-weight: 100;
	position: relative;
	box-sizing: border-box;
	width: 20%;
	box-sizing: border-box;
     font-family:sans-serif;
	margin :1cm;
}
.abot-lab{
	position: relative;
	left: auto;
	font-weight: 250;
	font-family:sans-serif;
	top: -5px;
	border-bottom: 3px solid #afcdd5;
	padding: 5px;
	font-size:0.5cm;
	width: 5.5cm;
	text-align: center;
}
.About a{
	text-decoration: none;
	font-size: 0.4cm;
	color: white;
	font-weight: 100;
}
.About li{
	list-style-type: none;
	margin:13px;
}
.About h1{
	text-align:left;
	font-size:0.4cm;
	color:white;
	margin:10px;
}
.About h2{
	text-align:left;
	font-size:0.4cm;
	color:white;
	margin:10px;
}
.About h3{
	text-align:left;
	font-size:0.4cm;
	color:white;
	margin:10px;
}
.About h4{
	text-align:left;
	font-size:0.4cm;
	color:white;
	margin:10px;
}
.office{
	color: white;
	position: relative;
	box-sizing: border-box;
	width: 20%;
	box-sizing: border-box;
    font-family:sans-serif;
	margin :1cm;

}
.About{
    height: 7cm;
    transform:translate(0cm,25cm);
	background-color: #050514;
	display: flex;
    border-top:4px solid white
}
.path{
	position: relative;
	left: 5cm;	
	font-family:'David Libre', serif;
	padding: 15px;
	margin: 15px;
	width: 70%;
	border-bottom: 1px solid grey ;
}
.reproduct{
    box-sizing: border-box;
    border: 5px solid brown; 
    background:honeydew;
	margin-top: 1cm; 
	margin-left: 5.5cm;
	display: flex;
	width: 75%;
	height: 9cm;
}
.reproduct div{
	position: relative;
}
.u1 , .u2{
	width:50%;
	padding: 5px;
}
.u1{
    padding: 15px;
}
.u2 input{
    margin-left: 8px;
    width: 2cm;
}
.u2{
    position: relative;
    right: 0px;
	top: 0.5cm;
    left: 1.3cm;
    
}
.u2 button{

    padding: 10px;
	width: 4cm;
    font-size: 0.5cm;
    color: rgb(255, 255, 255);
    background-color:red;
	font-family:'David Libre', serif;

}
.u2 button:hover{
    color:black;
    border-bottom: 3px solid blue;
}
.grid-container{
	display: grid;
	margin-left: 0.5cm;
	padding: 5px;
	grid-template-rows: 2.3cm 1.3cm 2.9cm 0.5cm;

}
.grid-item{
    font-size: 0.5cm;
    margin:6px;
	font-family: 'David Libre', serif;
}
.u1 img{
    width: 13cm;
    height: 8cm;
}
.information{
	border: 1px solid red;
	margin-left: 8cm;
	margin-top: 0.5cm;
	height: 10cm;
	width: 65%;
}
.information header{
	text-align: center;
	border-bottom: 1px solid grey;
}
.information a{
	text-decoration: none;
	font-size: 0.5cm;
	font-weight: 300;
	text-align: center;
	padding: 15px;
	margin: 5cm;
	margin-bottom: 1cm;


}
.recom{
    margin-top: 1.5cm;
}
.recent{
    margin-top: 14cm;
}
.r-head{
    width: 32cm;
    font-size: 40 ;
    font-family: 'David Libre', serif;
    margin-bottom: 0.5cm;
    margin-left: 3cm;
    border-bottom: 2px solid grey;
}
.wrapper{
    height: 13cm;
	width: 55%;
    background:#f7f7f7;
    padding:20px;
    margin:100px auto;
    border-radius:10px;
    margin-top: 1cm;
    margin-bottom:0cm;
}
.wrapper .radio_tabs{
    height:60px;
    background:#fff;
    border-radius:5px;
    margin-bottom:10px;
    font-size:20px;
    padding:18px;
    display:flex;
    box-shadow:0 0 2px rgba(0,0,0,0.1);
}
.wrapper .radio_tabs label{
    margin-right:28%;
    display:block;
    cursor:pointer;
    padding-left:70px;
}
.wrapper .radio_tabs label .radio_mark:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:22px;
    height:22px;

}
.wrapper .radio_tabs label .input{
    position:absolute;
    top:0;
    right:0;
    opacity:0;
}
.wrapper .radio_tabs label .input:checked ~ .radio_mark{
    color:#ff5d66;
}
.wrapper .radio_tabs label .input:checked ~ .radio_mark:before{
    background-position:0 -23px;
    width:22px;
    height:22px;

}
.wrapper .content{
    width:100%;
    height:calc(100% - 50px);
    background:#fff;
    border-radius:5px;
    padding:18px;
    box-shadow:0 0 2px rgba(0,0,0,0.1);
}
.radio_content-radio_2{
    visibility: hidden;
}
.wrapper button{
    padding: 6px;
    background-color: white;
    color: red;
    border: none;
    border-color: wheat;
    border-width: 0px;
    font-size: 22px;

}
